openapi: 3.0.0
info:
  title: GameVault API
  description: |
    This API provides access to BoardGameGeek data.
  version: 1.0.0
servers:
  - url: https://boardgamegeek.com
paths:
  /xmlapi2/thing:
    get:
      summary: Get boardgame detailed info
      description: |
        Retrieves detailed information about items stored in the BGG database. 
        In the BGG database, any physical, tangible product is referred to as a "thing." 
        This endpoint provides access to metrics such as score, number of player, game time, minimum age, and a descriptive overview for each item.
      parameters:
        - in: query
          name: id
          description: Specifies the id of the thing(s) to retrieve.
          required: true
          schema:
            type: string
        - in: query
          name: type
          description: Specifies the THINGTYPE(s) to filter the results by.
          schema:
            type: string
            enum: [boardgame, boardgameexpansion, boardgameaccessory, videogame, rpgitem, rpgissue]
            default: boardgame
        - in: query
          name: stats
          description: Returns ranking and rating stats for the item.
          schema:
            type: integer
            enum: [0, 1]
            default: 1
      responses:
        '200':
          description: Successful response

  /xmlapi2/hot:
    get:
      summary: Get Hot boardgames
      description: Retrieve the list of most active boardgames on the BGG site.
      parameters:
        - in: query
          name: type
          description: The type of hot list to retrieve.
          required: true
          schema:
            type: string
            enum: [boardgame, rpg, videogame, boardgameperson, rpgperson, boardgamecompany, rpgcompany, videogamecompany]
            default: boardgame
      responses:
        '200':
          description: Successful response
